.search-input {
    margin: auto;
    width: 20%;
    height: 100px;
    border-radius: 11px;
    font-size: 20px;
    padding: 0 10px;
}

.search-form {
    display: block;
    margin-left: auto;        
    margin-right: auto;        
    width: 50%;
}

.search-btn {
    display: block;
    margin-left: auto;        
    margin-right: auto;        
    width: 50%;
    background-color: red;
}